site_name: greenmilkvvv
site_url: https://Greenmilkvvv.github.io


  # 配置导航菜单
nav:
  - 首页: index.md
  # - 关于我: about.md
  # - 博客:
  #     - 第一篇博客: blog/post1.md


# 启用 Material 主题
theme:
  name: material

  palette:
    # 浅色模式：使用“默认”方案搭配粉色
    - scheme: default
      primary: blue grey
      accent: blue grey
      toggle: # 这部分是给切换按钮定义图标和提示文字，可选
        icon: material/brightness-4
        name: Switch to dark mode
    # 深色模式：使用“石板”方案搭配更深的粉色
    - scheme: slate
      primary: blue grey
      accent: blue grey
      toggle:
        icon: material/brightness-7
        name: Switch to light mode

  features:
    # 使用 Tab 来进行分类
    # https://squidfunk.github.io/mkdocs-material/setup/setting-up-navigation/#navigation-tabs
    - navigation.tabs
    # 返回顶部的按钮，在上滑时出现
    # https://squidfunk.github.io/mkdocs-material/setup/setting-up-navigation/#back-to-top-button
    - navigation.top
    # 给每个 Tab 添加一个 index.md，且在点击 Tab 时打开
    # https://squidfunk.github.io/mkdocs-material/setup/setting-up-navigation/#section-index-pages-with-section-index-pages
    - navigation.indexes
    # 打开 Tab 时左侧目录全部展开
    # https://squidfunk.github.io/mkdocs-material/setup/setting-up-navigation/#navigation-expansion
    - navigation.expand
    # 搜索输入一些字母时推荐补全整个单词
    # https://squidfunk.github.io/mkdocs-material/setup/setting-up-site-search/#search-suggestions
    - search.suggest
    # 搜索的关键词文章加入高亮
    # https://squidfunk.github.io/mkdocs-material/setup/setting-up-site-search/#search-highlighting
    - search.highlight
    # 可以通过按钮复制代码
    # https://squidfunk.github.io/mkdocs-material/reference/code-blocks/#code-copy-button
    - content.code.copy
    # [点击按钮跳转至 GitHub 修改 Markdown 源文件]
    # https://squidfunk.github.io/mkdocs-material/setup/adding-a-git-repository/#code-actions
    - content.action.edit

  language: zh # 一些提示性的文字会变成中文

  icon:
    # [添加 GitHub 仓库]
    # https://squidfunk.github.io/mkdocs-material/setup/adding-a-git-repository/#repository-icon
    repo: fontawesome/brands/github


# [点击按钮跳转至 GitHub 修改 Markdown 源文件]
# https://squidfunk.github.io/mkdocs-material/setup/adding-a-git-repository/#code-actions
edit_uri: edit/main/docs/
# [top-right corner]
# [添加 GitHub 仓库]
# https://squidfunk.github.io/mkdocs-material/setup/adding-a-git-repository/
repo_url: https://github.com/Greenmilkvvv/Greenmilkvvv.github.io
repo_name: Greenmilkvvv.github.io


